/*
Team Name: J.O.D.E.A.
Project:Vaccination Tracking System 
School: STLCC
Members: Elena Miller, Jaccob Stanton, Deshane Sims,
Alexander Breitnebach, and Osama Aater
*/

/* 
    Created on : Mar 29, 2022, 1:13:24 PM
    Author     : eVmPr
*/

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
:root{
    --green:#16a085;
    --black:#444;
    --light-color:#777;
    --box-shadow:.5rem .5rem 0 rgba(22, 160, 133, .2);
    --text-shadow:.4rem .4rem 0 rgba(0, 0, 0, .2);
    --border:.2rem solid var(--green);
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .5rem;
    padding-left: 1rem;
    /*padding-right: .5rem;*/
    border:var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    color:var(--green);
    cursor: pointer;
    font-size: 1.5rem;
    background: #fff;
}
.btn span{
    /*display: inline-block;*/
    padding:.7rem 1rem;
    border-radius: .5rem;
    background: var(--green);
    color:#fff;
    margin-left: .5rem;
}

.btn:hover{
    background: var(--green);
    color:#fff;
}
.btn:hover span{
    color: var(--green);
    background:#fff;
    margin-left: 1rem;
}

.hero{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(banner1.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box{
    width: 400px;
    height: 550px;
    position: relative;
    margin: 6% auto;
    background: none;
    padding: 5px;
    overflow: hidden;
}


.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}


#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    transition: .5s;
}

.social-icons img{
    width: 30px;
}
ul#rlist {
    display: block;
    float: left;
}
.box{
    border:var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding:2.0rem;
    background: #fff;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 0;
    width: 500px;
    margin: 4% auto;
}
.rlist-item{
   display: list-item;
   list-style: none;
   /*font-size: 2em;*/
}
.rlist-item:hover{
    color: #0066ff;
    
}
.rlist-item:hover:after{
    content: "";
}
.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
    max-height: 375px;
    overflow-y: auto;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}

span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

