<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="ELENA">
        <meta name="keywords" content="vaccine,system, tracking">
        <meta name="description" content="Personal Website">
        <link rel="stylesheet" href="../Assets/css/all.css" type="text/css">
        <link rel="stylesheet" href="../Assets/css/main.css" type="text/css">
        <link rel="stylesheet" href="../Assets/css/formmain.css" type="text/css">
        <!--        <link rel="stylesheet" href="Assets/css/all.css" type="text/css">-->
        <!--<link rel="stylesheet" href="Assets/css/all.css" type="text/css">-->
        <script src="../Assets/js/script.js"></script>
        <script src="Assets/js/script.js"></script>
        <script src="../Assets/js/validate.js"></script>
        <script src="https://kit.fontawesome.com/98e4c48f68.js" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/f1903f98ac.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!--<div>TODO write content</div>-->
        <form>
            <h1>Template Form</h1>
            <fieldset>
                <legend><i class="fas fa-p"></i></legend>
                <label for="name">Input Name</label>
                <input type="text" name="name" id="name" class="pers-info" title="input">
            </fieldset>

        </form>
    </body>
</html>
